<html>
    <head>
        <script type='text/javascript' src='http://localhost:8080/application.js'></script>
        <script type='text/javascript' src='/static/jquery.min.js'></script>
        <script type='text/javascript' src='/static/events.js'></script>
    </head>
    <body>
        <h1>Persona</h1>
        <ul>
            <li><label for="name">Name: </label> <span id="name">None</span></li>
            <li><label for="surname">Surname: </label> <span id="surname">None</span></li>
        </ul>
    </body>
</html>

